/* Write your CSS here */

.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  height: 100vh;
}

.container {
  text-align: center;
  border-radius: 12px;
  border: 2px solid;
  padding: 24px;
}

.dark-mode {
  background-color: #000000;
  color: #ffffff;
}

.light-mode {
  background-color: #ffffff;
  color: #000000;
}

.heading {
  font-family: 'Roboto';
  font-size: 32px;
}

.button {
  font-size: 16px;
  border: 1px solid;
  padding: 16px;
  border-radius: 8px;
}
